@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  font-family: "Maax-Regular";
  text-decoration: none;
  color: black;
  cursor: auto;
}

@font-face {
  font-family: "Maax-Regular";
  src: url(../fonts/maax-regular.woff2);
}
@font-face {
  font-family: "Maax-Medium";
  src: url(../fonts/maax-medium.woff2);
}
@font-face {
  font-family: "Maax-Bold";
  src: url(../fonts/maax-bold.woff2);
}
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #1e90ff, #ff69b4);
}
body .background {
  width: 100%;
  height: 100%;
  display: flex;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}
body .background nav {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.5);
}
body .background nav header {
  width: 100%;
  height: 10%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  background-image: url(../images/gildeopleidingen.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 75%;
}
body .background nav .menu {
  position: relative;
  width: 100%;
  margin: 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
body .background nav .menu button {
  position: absolute;
  top: 40%;
  right: 0;
  width: 10%;
  height: 10%;
  border-radius: 100% 0 0 100%;
}
body .background nav .menu button i {
  font-size: 150%;
  transition: 1s ease;
}
body .background nav .menu button:hover i {
  transform: rotate(180deg);
}
body .background nav .menu a {
  width: 80%;
  height: 7.5%;
  margin: 2.5% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  gap: 5%;
  background-color: transparent;
  border-radius: 10px;
}
body .background nav .menu a #icon {
  width: 20%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .background nav .menu a #icon i {
  font-size: 125%;
  color: rgb(150, 150, 150);
}
body .background nav .menu a p {
  font-size: 125%;
  color: rgb(150, 150, 150);
}
body .background nav .menu #logout {
  margin-top: auto;
}
body .background nav .menu .active,
body .background nav .menu a:hover {
  background-color: #00365e;
  cursor: pointer;
}
body .background nav .menu .active #icon,
body .background nav .menu a:hover #icon {
  background-color: #00365e;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.3);
}
body .background nav .menu .active #icon i,
body .background nav .menu a:hover #icon i {
  color: white;
}
body .background nav .menu .active p,
body .background nav .menu a:hover p {
  color: white;
  cursor: pointer;
}
body .background nav footer {
  width: 100%;
  height: 10%;
  outline: auto;
}
body .background aside {
  flex-grow: 1;
  max-height: 100vh;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 10% 20% 50% 50%;
}
body .background aside .item {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .background aside .item section {
  width: calc(100% - 25px);
  height: calc(100% - 25px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.5);
}
body .background aside .search {
  grid-column: span 2;
}
body .background aside .title section h1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .background aside .search section {
  flex-direction: row-reverse;
}
body .background aside .search section .icons {
  display: flex;
  max-width: 50%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 1;
}
body .background aside .search section .icons i {
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .background aside .search section input {
  flex-grow: 1;
  min-width: 1%;
  padding: 0 25px;
  height: 50%;
  background-color: transparent;
}
body .background aside .search section input:focus {
  border-right: 1px solid black;
}
body .background aside .profile section {
  flex-direction: row;
  justify-content: space-around;
}
body .background aside .profile section #img {
  height: 60%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/ace.png);
  background-size: cover;
}
body .background aside .profile section .text {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
body .background aside .donut {
  grid-column: span 2;
  grid-row: span 2;
}
body .background aside .donut section header {
  width: 90%;
  height: 10%;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
body .background aside .donut section header p {
  width: 40%;
  height: 100%;
  font-family: "Maax-Bold";
  display: flex;
  align-items: center;
  justify-content: center;
}
body .background aside .donut section header p::after {
  content: "︱uitgeklokt";
}
body .background aside .donut section header .clock_in::after {
  content: "︱ingeklokt";
}
body .background aside .donut section header .start_break::after {
  content: "︱pauze";
}
body .background aside .donut section header .stop_break::after {
  content: "︱ingeklokt";
}
body .background aside .donut section header .clock_out::after {
  content: "︱uitgeklokt";
}
body .background aside .donut section header div {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .background aside .donut section header div select {
  margin-right: 10%;
  width: 100%;
  height: 50%;
  padding: 0 5%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .background aside .donut section article {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .background aside .donut section article canvas {
  max-height: 80%;
  aspect-ratio: 1;
}
body .background aside .donut section footer {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
body .background aside .graphic {
  grid-column: span 3;
}
body .background aside .graphic section header {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .background aside .graphic section header * {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .background aside .graphic section header * select {
  width: 50%;
  height: 50%;
  border-radius: 5px;
  background-color: #e5ebef;
}
body .background aside .graphic section article {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .background aside .information {
  grid-column: span 3;
}